.itemListNew{
    padding: 0.1rem 0.25rem 0.15rem 0.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-sizing: border-box;
    .link{
        display: block;
        background-color: #fff;
        list-style: none;
        flex: none;
        width: 31.5%;
        color: #868686;
        &:nth-child(2){
            margin: 0 0.2rem;
        }
        .head{
            padding: 0.1rem 0;
            .logo{
                width: 1.4rem;
                height: 0.56rem;
            }
        }
        .body{
            padding-top: 0.1rem;
            border-top: 1px solid #f2f2f2;
            p{
                line-height: 0.44rem;
            }
        }
        .red{
            color: #E62344;
        }
    }
}