.detailService{
    display: flex;
    flex-direction: row;
    .btn{
        margin-right: 0.2rem;
        display: inline-block;
        flex: none;
        width: 25%;
        height: 0.46rem;
        line-height: 0.46rem;
        text-align: center;
        border-radius: 0.1rem;
        background-color: #ffb045;
        color: #fff;
    }
}
.detailServiceP{
    color: #999;
    margin-top: 0.24rem;
}