.titleContainer{
    margin: 0 0.2rem;
    height:0.68rem;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between; 
    .titleText{
        padding: 0 0.2rem;
        color: #888;
        font-size: 0.28rem;
    }
    .line{
        flex: 1;
        height: 0.01rem;
        background-color: #ccc;
    }
}