.commentList{
    margin-bottom: 0.3rem;
   
    .hd{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 0.16rem;
        height: 0.52rem;
        background-color: #e62344;
        color: #fff;
        border-top-left-radius: 0.08rem;
        border-top-right-radius: 0.08rem;
        span{
           
            display: inline-block;
            flex: none;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .flow{
            width: 1.2rem;
        }
        .name{
            width: 1.4rem;
        }
    }
    .bd{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        padding: 0.16rem;
        color: #666;
        background-color: #f2f2f2;
        border-bottom-left-radius: 0.08rem;
        border-bottom-right-radius: 0.08rem;
        span{
            width:50%;
            display: block;
            line-height: 0.38rem;
        }
    }
}