.investItem{
    display: block;
    position: relative;
    padding: 0.25rem;
    margin-bottom: 0.2rem;
    background-color: #fff;
    .head{
        position: relative;
       padding-bottom: 0.2rem;
       border-bottom: 1px solid #f2f2f2;
       display: flex;
       flex-direction:row;
       align-items: center;
       .logoView{
            width: 1.4rem;
            height: 0.56rem;
            img{
                width: 100%;
                height: 100%;
            }
       }
       .tags{
           position: relative;
           top: -0.1rem;
            display: flex;
            flex-direction:row;
            margin-left: 0.16rem;
           span{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                padding: 0 0.08rem;
                margin-right: 0.16rem;
               
                border: 1px solid #E62344;
                border-radius: 0.04rem;
                height: 0.26rem;
                font-size: 0.22rem;
                color: #E62344;
           }
           .type.first{
                color: #67cbdb;
                border-color: #67cbdb;
            }
            .type.repeat{
                color: #FF9900;
                border-color: #FF9900;
            }
       }
       .countdown{
           padding-left: 0.15rem;
           border-left: 1px solid #bcbcbc;
           position: absolute;
           right: 0;
           top: 0;
           color: #868686;
           .date{
               display: block;
               color: #E61C2C;
       
           }
       }
    }
    .body{
       display: flex;
       flex-direction:row;
       align-items: center;
       padding: 0;
       margin: 0.2rem 0;
       li{
           flex: none;
           list-style: none;
           width: 33%;
           >span{
               display: block;
               color: #868686;
               font-size: 0.24rem;
           }
           .bt{
               margin-top: 0.1rem;
           }
           .red{
               color: #E62344;
               font-size: 0.36rem;
           }
           .num{
            color: #666;
            font-size: 0.36rem;
           }
       }
    }
    .foot{
        padding-top: 0.2rem;
        display: flex;
        flex-direction:row;
        align-items: center;
        border-top: 1px solid #f2f2f2;
        .type{
            display: flex;
            flex-direction:row;
            align-items: center;
        }
        .tag{
            display: flex;
            padding: 0 0.08rem;
            margin-right: 0.1rem;
            align-items: center;
            justify-content: center;
            border: 1px solid #c9c9c9;
            border-radius: 0.04rem;
            height: 0.26rem;
            text-align: center;
            color: #C9C9C9;
        }
    }
    .maskView{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
        .mask{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0.6;
            background-color: #fff;
        }
        .maskText,.text{
            position: absolute;
            left: 0;
            top: 1rem;
            z-index: 101;
            width: 2.4rem;
            height: 1.24rem;
        }
        .maskText{
            background-color: #000;
            opacity: 0.6;
        }
        
        .text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left:0.25rem; 
            box-sizing: border-box;
            font-size: 0.3rem;
            z-index: 102;     
            color: #fff; 
            span{
                display: block;
                padding-top: 0.1rem;
                font-size: 0.22rem;
            }   
        }
    }
}