.NavList{
    background-color: #fff;
    padding: 0.2rem 0;
    .am-grid .am-flexbox .am-flexbox-item .am-grid-item-content .am-grid-item-inner-content .am-grid-text{
        color: #999;
    }
    .am-flexbox.am-flexbox-justify-center{
        height:1.5rem;
    }
}

