.detailBody{
    padding: 0.8rem 0;
}
.detailBox{
    padding: 0.25rem;
    background-color: #fff;
    .title{
        color: #666;
        font-size: 0.26rem;
    }
    .ddView{
        color: #999;
        line-height: 1.6;
        img{
            width: 100%;
            height: auto;
        }
    }
}
.mt10{
    margin-top:0.2rem; 
}

.moreComment {
    display: block;
    margin: 0.1rem 0;
    height: 0.5rem;
    line-height: 0.5rem;
    text-align: center;
    color: #E62344; 
}
.firstDetailBody{
    .plans .titleContainerDetail::before{
        background-color: #67cbdb;
    }
}
.repeatDetailBody{
    .plans .titleContainerDetail::before{
        background-color: #ff9900;
    }
}
