.searchHeaderContainer{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 0.3rem;
    background-color: #f23b83;
    .searchInput{
        padding:0 0.16rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 0.64rem;
        flex:1;
        border-radius: 0.10rem;
        background-color: #fff;
        .text{
            padding-left: 0.16rem;
            flex: 1;
            border: none;
            color: #666;
            font-size: 0.28rem;
        }
    }
    input::-webkit-input-placeholder { /* WebKit browsers */ 

    color: #ccc; 
    font-size: 0.26rem;
    } 
    input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 

    color: #ccc; 
    font-size: 0.26rem;
    } 
    
    input::-moz-placeholder { /* Mozilla Firefox 19+ */ 
    
    color: #ccc; 
    font-size: 0.26rem;
    } 
    
    input:-ms-input-placeholder { /* Internet Explorer 10+ */ 
    
    color: #ccc; 
    font-size: 0.26rem;
    } 
    .cancel{
       display: flex;
       align-items: center;
       justify-content: center;
       width: 15%;
        flex: none;
        height: 0.64rem;
        line-height: 0.64rem;
        text-align: center;
        color: #fff;
        font-size: 0.32rem;
    }
    .back{
        justify-content: flex-start;
        width: 10%;
    }
}