.am-list-footer{
    border: none;
    padding: 0;
    .loadmore{
        height: 0.8rem;
        line-height: 0.8rem;
        text-align: center;
        border: 1px solid #f2f2f2;
        background-color: #fff;
    }
}