
    .homeSearchBar{
        flex: 1;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding-left: 0.10rem;
        height: 0.4rem;
        background-color: #fff;
        border-radius: 0.08rem;
        color:#ccc;
        font-size:0.26rem;
        span{
            padding-left: 0.1rem;
            font-size: 0.22rem;
        }
        .am-icon-search{
            width: 0.24rem;
            height: 0.24rem;
        }
    }

