.loginContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    box-sizing: border-box;
    padding-bottom: 1rem;
    .logo{
        padding: 0.3rem 0 0.5rem 0;
        text-align: center;
        width: 100%;
        height: auto;
        background-color: #fff;
        .by{
            border: 1px solid #AEAEAE;
            margin: 0.05rem auto 0 auto;
            display: block;
            width: 1.5rem;
            height: 0.28rem;
            line-height: 0.28rem;
            text-align: center;
            color: #AEAEAE;
            border-radius: 0.06rem;
        }
        img{
            width: 1.5rem;
            height: 1.5rem;
        }
    }
    .con{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.7rem 0 0.9rem 0;
        overflow: hidden;
        border-top: 1px solid #f2f2f2;
        border-bottom: 1px solid #f2f2f2;
        background-color: #fff;
        .am-icon-lg {
            width: 1.2rem;
            height: 1.2rem;
        }
        .wechat{
            padding-left: 1.2rem;
        }
    }
    .other{
        background-color: #fff;
        height: 0.7rem;
        line-height: 0.7rem;
        text-align: center;
        a{
            color: #AEAEAE;
        }
    }
    .version{
        height: 0.6rem;
        line-height: 0.6rem;
        text-align: center;
        color: #D7D7D7;
    }
}
.formContainer {
    margin: 0 0.25rem;
    background-color: #fff;
    border: 0.01rem solid #ddd;
    border-radius: 0.08rem; 
}
  
.submitContainer {
    margin: 0.4rem 0.2rem 0 0.2rem; 
}