.userSetContainer{
    padding-bottom: 1.2rem;
    .form{
        background-color: #fff;
        .inputList{
            .labelText{
                width:3.5rem;
            }
        }
    }
    .list{
        margin-top: 0.2rem;
        background-color: #fff;
        .hd{
            padding: 0 0.2rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 0.8rem;
            border-bottom: 1px solid #eee;
            color: #666;
            font-size: 0.26rem;
            .del{
                display: flex;
                justify-content:center;
                align-items: center;
                color: #666;
                font-size: 0.26rem;
                b{
                    padding-left: 0.1rem;
                    font-weight: normal;
                }
            }
        }
    }
}