.memberActiveList{
    font-size: 0.22rem;
    .list-view-section-body{
        background-color: #f5f5f9;
    }
    .am-list-body:after{
        border: none;
    }
    .null{
        display: block;
        padding: 0.25rem;
        color: #999;
    }
    dt{
        display: flex;
        height: 0.88rem;
        align-items: center;
        border-bottom: 1px solid #f2f2f2;
    }
    dd{
        margin-bottom: 0.2rem;
        padding: 0.25rem;
        background-color: #fff;
        .hd{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            .platName{
                width: 2.2rem;
                .name{
                    color: #666;
                    font-size: 0.24rem;
                }
                .type{
                    margin-top: 0.1rem;
                    display: block;
                    border: 1px solid  #67CBDB;
                    width: 1.1rem;
                    height: 0.3rem;
                    line-height: 0.3rem;
                    text-align: center;
                    
                    color: #67CBDB;
                    border-radius: 0.08rem;
                }
                .type.repeat{
                    color: #ff9900;
                    border-color: #ff9900;
                }
            }
            .state{
                
                width: 3.2rem;
                color: #C9C9C9;
                .dsh{
                    color: #868686;
                }
                .tg{
                    color: #C9C9C9;
                }
                .bh{
                    color: #E62344;
                }
            }
            .state2{
                width: auto;
            }
            .action{
               
                .link{
                    color:#E62344;
                }
                .del{
                    color: #868686;
                    margin-left:0.3rem; 
                }
            }
           
            
        }
        .bd{
            margin-top: 0.1rem;
            padding: 0.1rem 0 ;
            flex-wrap: wrap;
            display: flex;
            flex-direction: row;
            list-style: none;
           
            color: #666;
            li{
                position: relative;
                padding-left: 1.3rem;
                box-sizing: border-box;
                flex:none;
                width: 50%;
                line-height: 0.36rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                label{
                    position: absolute;
                    left: 0;
                    top: 0;
                    color: #999;
                }
            }
            .w100{
                width: 100%;
            }
        }
        .note{
            border-top: 1px solid #f2f2f2;
            color: #AEAEAE;
            line-height: 1.6;
            padding-top: 0.12rem;
            margin: 0;
        }
    }
    .am-list-body{
        border: none;
    }
    .loadmore{
        margin-top:0.2rem; 
    }
}